<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../assets/images/hot.jpg"
      alt="hotWeather"
      *ngIf="weatherData.main.temp > 13"
    />
    <img
      src="../assets/images/cold.jpg"
      alt="hotWeather"
      *ngIf="weatherData.main.temp < 13"
    />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp | number : "1.0-0" }} °C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/temperature.png" alt="icon-temp" />
          <span>Min</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.temp_min }}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/temperature.png" alt="icon-temp" />
          <span>Max</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.temp_max }}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/humidity.png" alt="icon-temp" />
          <span>Humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/wind.png" alt="icon-temp" />
          <span>Wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.pressure }} Km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet> </router-outlet>
